<ion-view view-title="Alternate Sellers" cache-view="false">
    <ion-content>
        <div class="item item-text-wrap positive">Approx total MRP for your order is Rs.245</div>
        <span class="item item-text-wrap">Order is available with:</span>
        <div class="list">
            <label class="item">
                <span class="input-label ">Liberty Drug Corner</span>
                <i class="icon ion-star  energized"></i>            <i class="icon ion-star energized"></i>  <i class="icon ion-star  energized"></i>  <i class="icon ion-star  energized"></i>  <i class="icon ion-star energized"></i><br>
                <span class=" royal">52 in your area have liked this seller</span><br>
                <!--<span class="balanced">10% off on order</span>-->
            </label>
            <label class="item">
                <span class="input-label  ">Metro Pharmacy</span>
                <i class="icon ion-star   energized"></i>            <i class="icon ion-star  energized"></i>  <i class="icon ion-star  energized"></i><br>
                <span class=" royal">5 in your area have liked this seller</span><br>
                <!--<span class="balanced">5% off on order</span>-->
            </label>
        </div>
    </ion-content>
</ion-view>