<ion-view view-title="Cart" cache-view="false">
    <ion-content>
        <!-- <form name="cartForm" novalidate="" class="css-form"> -->
            <div ng-if="items!=''">
                <div class="quantity list" ng-repeat="item in items">
                 <div class="item card-item">
                    <label class="item-text-wrap item-input">{{ item.item }}</label>
                    <div class="row">
                      <div class="col col-50">
                        <button ng-click="decreaseQuantity(item)" class="button button-icon icon ion-android-remove-circle button-small"> </button>
                       <label >{{item.quantity}}</label>
                      <button ng-click="increaseQuantity(item)" class="button button-icon icon ion-android-add-circle button-small"> </button>
                    </div>
                     <div class="col col-35 col-offset-15">
                              <span class="input-label">&#8377; {{item.quantity*item.mrp}}</span>
                      </div>
                 </div>
   				  <!-- <code class="item-text-wrap" ng-if="item.quantity < 0">Quantity should be greater than 0</code> -->
				</div>
        </div>
                   <div class="item-input">
                        <span class="input-label">Total Price: </span>
                        <span class="input-label">&#8377; {{ data.totalprice }} (approx)</span>                          
                   </div>
<br/><br/>
                <form name="cartForm" novalidate="" class="css-form" ng-submit="showSellerDetails()">
                    <div class="item-input-stacked">
                        <!-- <ion-radio ng-model="data.prescriptionChoice" ng-value="'A'">I will show prescription at delivery </ion-radio> -->
                        <!-- <ion-radio ng-model="data.prescriptionChoice" ng-value="'B'">Upload prescription </ion-radio> -->

                        <br>
                         <div class="item-input-inset">
                        <a ng-href="#/app/home" href="#/app/home" class="item-input-wrapper button button-positive">Add more</a>
                        <input class="item-input-wrapper button button-balanced" ng-disabled="!cartForm.$valid" value="Go!" type="submit">
                                                
              <!--       <button ng-click="placeorder()" ng-disabled="!cartForm.$valid" class="item-input-wrapper button button-balanced">Go!</button>  -->

                        </div>                  
                    </div>
                         <code ng-show="data.message!=''" class="item-text-wrap padding assertive">{{ data.message }}</code>
				 <!-- <code class="item-text-wrap padding assertive" ng-if="!cartForm.$valid">Quantity should be greater than 0</code> -->
                </form>
               </div>
                <div class="item" ng-if="items==''">
                    <div class="padding">No items in the cart</div>
                       <div class="item-input-inset">
                    <a ng-href="#/app/home" href="#/app/home" class="item-input-wrapper button button-positive">Add Items</a>
                      </div>
                </div>
            <br/><br/><br/><br/><br/><br/> <!--for scrolliing effect-->
    </ion-content>
</ion-view>