<ion-view view-title="Cart">
    <ion-content>
        <div ng-controller="BuyNowCtrl">
            <div ng-if="items!=''">
                <div class="quantity list" ng-repeat="item in items">

                    <label class="item-text-wrap item-input">{{ item.item }}</label>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="number" min="1" ng-model="item.quantity" value="item.quantity" ng-change="quantityChanged(item)">
                        </label>
                        <button ng-click="destroy(item)" class="icon ion-close-circled button button-assertive button-small"> </button>
                    </div>
				</div>
                    <div class="item-input-stacked">
                        <ion-radio ng-model="data.prescriptionChoice" ng-value="'A'">Show prescription on delivery</ion-radio>
                        <ion-radio ng-model="data.prescriptionChoice" ng-value="'B'">Upload prescription now </ion-radio>

                        <br>
                         <div class="item-input-inset">
                        <a ng-href="#/app/home" href="#/app/home" class="item-input-wrapper button button-positive">Add more</a>

                        <button ng-click="placeorder()" class="item-input-wrapper button button-balanced">Place order</button>
                        </div>
                    </div>
               </div>
                <div class="item" ng-if="items==''">
                    <div class="padding">No items in the cart</div>
                       <div class="item-input-inset">
                    <a ng-href="#/app/home" href="#/app/home" class="item-input-wrapper button button-positive">Add Items</a>
                      </div>
                </div>
            </div>
            <br/><br/><br/><br/><br/><br/> <!--for scrolliing effect-->
    </ion-content>
</ion-view>