<ion-view view-title="Contact Us" cache-view="false">
  <ion-content>
    <form>
		<div class="item">      <i class="ion-ios-telephone"></i> Call us/ <span class="balanced"><i class="ion-social-whatsapp-outline"></i>  Whatsapp</span>/<span class="positive"><i class="ion-chatboxes"></i> SMS</span><br/> <a href="tel: +91-9930686044">+91-9930686044</a>   </div> 
		<div class="item">
		<span style="font-weight:bold" class="positive">Email</span>
		<p>developeri2itech@gmail.com</p>
		</div>
	</form>
  </ion-content>
</ion-view>
