<ion-view hide-back-button="true" hide-nav-bar="false" cache-view="false">
  <ion-nav-title>
      <img src="img/logo.png">
    </ion-nav-title>
  <ion-content>
  <P class="item item-text-wrap" style="text-align:center;color:#0F75BC;text-transform:uppercase;border-width:0px">6-Online portal to <br/>Find medicines near you</P>
   <div class="list">

<div id="searchbox" class="list item-input-inset" padding="false" style="background-color:white;margin-bottom:-20px">
  <label class="item item-input-wrapper" style="background-color:white;border-left:none;margin-left:-20px;margin-right:-20px;">
    <i class="icon ion-search placeholder-icon" style="margin-left:20px"></i>
    <input  type="search" style="background-color:white;border-color:blue" placeholder="Enter medicine brand" ng-focus="scrollToTop()" ng-change="search()" ng-blur="clearAutoSuggestions()" ng-model="data.search">
  </label>
      </div>
 <ion-list>
      <ion-item ng-repeat="brandItem in data.autoSuggetions"  ng-click="brandSelected(brandItem)">
       {{brandItem.label}}
      </ion-item>
    </ion-list>
</div>
<div class="footer" style="text-align:center;" id="box"><span class="positive">Select Your City & Circle</span><br/>

Enter name of Medicine <br/>

Place order & get medicine delivered in hours!<br/>
<b>OR</b><br/>
 <i class="ion-ios-telephone"></i> Call us/ <span class="balanced"><i class="ion-social-whatsapp-outline"></i>  Whatsapp</span>/<span class="positive"><i class="ion-chatboxes"></i> SMS</span> on <a href="tel: +91-9591729831">+91-9591729831</a> to <br/>
Place your order now!</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </ion-content>
</ion-view>
<style type="text/css">
  #box{
    position: relative;
    top: 240px;
    height:130px;
    width:100%;
    text-align: center;
    background-color:rgba(0,0,0,0.1);
  }

</style>
