<ion-view view-title="Location">
<ion-header-bar>
<h1 class="title" >Change your location</h1>
</ion-header-bar>
<ion-content>
<!--<div class="list" padding="false">-->
<div class="item item-text-wrap positive" style="text-align:center;">Select your City, Circle and click 'Set Location'</div>
 <!-- <label class="item item-input item-select"  padding="false" style="margin-bottom:-32px">
    <div  class="input-label">
      City
    </div>
    <select ng-model="data.selectedCity" ng-change="citySelected()" ng-options="option for option in data.cityOptions">
      <option value="">-- choose City --</option>
    </select>
  </label>
</div>
-->
<label class="item item-input item-select">
          <div class="input-label">
           City
          </div>
<select id="citySelect" name='options' ng-model="data.selectedCity"  ng-change="citySelected()">
            <option  ng-repeat="option in data.cityOptions"
                    ng-value="option" ng-selected="data.selectedCity == option">{{ option }}</option>
          </select>
            </label>

<!--<div class="list" ng-if="data.selectedCity!=''">
  <label class="item item-input item-select" style="margin-bottom:-25px">
    <div  class="input-label">
      Circle
    </div>
    <select ng-model="data.selectedCircle" ng-change="circleSelected()"ng-options="option for option in data.circleOptions">
          <option value="">-- choose Circle --</option>
	</select>
  </label>
</div>
-->
<label class="item item-input item-select" ng-if="data.selectedCity!=''">
          <div class="input-label">
           Circle
          </div>
<select name='options' ng-model="data.selectedCircle">
            <option  ng-repeat="option in data.circleOptions"
                    ng-value="option" ng-selected="data.selectedCircle == option">{{ option }}</option>
          </select>
            </label>

<div class="item-input-inset padding">
   <button class="item-input-wrapper button button-positive" ng-click="setLocation()">Set Location</button>
</div>

<!--<div class="item">
   <a class="button button-calm" ng-href="#/app/home" href="#/app/home">Start Ordering</a>
</div>
-->
</ion-content>
</ion-view>
