<ion-view view-title="Location" >
<ion-header-bar>
<h1 class="title" >Change your location</h1>
</ion-header-bar>
<ion-content>
<div class="list" padding="false" >
  <label class="item item-input item-select" style="margin-bottom:-25px">
    <div  class="input-label">
      Circle
    </div>
    <select ng-model="data.selectedCircle" ng-options="option for option in data.circleOptions">
	</select>
  </label>
</div>

<div class="list" padding="false">
  <label class="item item-input item-select"  padding="false" style="margin-bottom:-32px">
    <div  class="input-label">
      City
    </div>
    <select ng-model="data.selectedCity" ng-options="option for option in data.cityOptions">
    </select>
  </label>
</div>
</ion-content>
</ion-view>
