<ion-view view-title="Enter order details" cache-view="false">
  <ion-content>
  <form name="submitform" novalidate class="css-form" ng-submit="submitorder(order)">
<div class="list">
   <div class="item item-divider positive">
   Delivery details
  </div>
  <label class="item item-input item-stacked-label">
   <div class="assertive">(Fields marked * are mandatory)</div>
    <span class="input-label">*Name</span>
    <input type="text" placeholder="Full name" ng-model="order.name" required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">*Address</span>
    <input type="text" placeholder="Your address line 1" ng-model="order.addressline1" required>

  </label>
   <label class="item item-input item-stacked-label">
       <input type="text" placeholder="Your address line 2" ng-model="order.addressline2" required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Circle</span>
    <span class="input-label">{{data.circle}}</span>
    <div class="assertive">(Delivery restricted to this area)</div>
  </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label">*Phone</span>
    <input type="tel" placeholder="phone" ng-model="order.phone" ng-minlength="10" ng-maxlength="10" required>
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">*Email Id</span>
    <input type="email" placeholder="email id" ng-model="order.email" required>
    <div class="item-text-wrap">(Tracking information will be sent to this Email address)</div>   
    </label>

 <label class="item item-input item-stacked-label item-text-wrap">
    <span class="input-label">Payment Method</span>
    <span class="input-label">Cash on delivery</span>
  </label>

 <div class="item item-input-inset">
    <label class="item-input-wrapper">
        <span class="input-label">Offer code</span>
      <input type="text" placeholder="Enter offer code" ng-model="order.offercode">
    </label>
    <input type="button" class="button button-small" ng-click="applyOffer()" value="Apply">
	</div>
      <span class="item item-text-wrap calm">{{order.offerstatus}}</span>
<div class="item item-text-wrap assertive"> Please note, the pharmacist may ask for a valid prescription at the time of delivery.</div>
<div class="item"><ion-checkbox class="item-checkbox grey remember" type="checkbox" ng-model="order.isTermsChecked" required> I accept <a href="#" onclick="window.open('http://www.pillocate.com/termsConditions', '_system', 'location=yes'); return false;">Terms &amp; Conditions</a></div>
</div>

<div class="item">
	<input class="item button button-positive" value="Submit" type="submit">
</div>
<br/><br/><br/><br/><br/><br/>
</form>
 </ion-content>
</ion-view>
<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
