<ion-view>
  <ion-nav-title>
<!--      <img src="img/logo.png">-->
<div >
  <h1 style="color:#0F75BC">Pillocate20</h1>
</div>
    </ion-nav-title>
  <ion-content>
  <h2 class="positive item" style="text-align:center;font-weight:bold;color:#0F75BC">Online portal to find medicines near you</h2>
   <div class="list">
 <div class="list" padding="false" >
  <label class="item item-input item-select">
    <div style="color:#0F75BC" class="input-label">
      Circle
    </div>
    <select ng-model="data.selectedCircle" ng-options="option for option in data.circleOptions">
    <!--  <option>Kandanchavadi</option>
      <option>Kottivakkam</option>
      <option selected>Thiruvanmiyur</option>
-->    </select>
  </label>
</div>

<div class="list" padding="false">
  <label class="item item-input item-select"  padding="false">
    <div style="color:#0F75BC" class="input-label">
      City
    </div>
    <select ng-model="data.selectedCity" ng-options="option for option in data.cityOptions">
<!--      <option selected>Chennai</option>-->
    </select>
  </label>
</div>
<!-- <div  padding="false">-->
<!--    <ion-header-bar class="bar-subheader item-input-inset">-->
<div class="list item-input-inset" padding="false">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Enter medicine brand" ng-change="search()" ng-blur="clearAutoSuggestions()" ng-model="data.search">
  </label>
      </div>
<!--    </ion-header-bar>-->
<!--   <ion-content padding="true">-->
     <!-- <div class="list">
        <li class="item" ng-repeat="airline in data.airlines" href="#/app/searchresults" ng-click="brandSelected(airline)">{{airline.label}}</li>
      </div>
--><!--  </ion-content>-->
 <ion-list>
      <ion-item ng-repeat="airline in data.airlines" href="#/app/searchresults" ng-click="brandSelected(airline)">
       {{airline.label}}
      </ion-item>
    </ion-list>

<!--</div>-->
</div>
<div class="item" style="text-align:center">Select Your Circle <br/>

Enter name of Medicine <br/>

Place order & get medicine delivered in hours!<br/><br/>
OR<br/><br/>
 Call us/ whatsapp/ SMS on +91-9591729831<br/>
to place your order now!</div>
  </ion-content>
</ion-view>
