<ion-view view-title="Profile" name="profileView">
<ion-header-bar>
<h1 class="title">Enter your details!</h1>
</ion-header-bar>
<ion-content>
<form >
  <div class="list">
    <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name" ng-model="username">
    </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="abc@xyz.com" ng-model="email">
    </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Phone Number</span>
    <input type="text" placeholder="+91" ng-model="phone">
    </label>

    <label class="item item-input item-stacked-label">
    <span class="input-label">Address</span>
    <input type="text" placeholder="address" ng-model="address">
    </label>
    <label class="item">
    <button class="button button-block button-positive" type="submit">Register</button>
    </label>
  </div>
</form>
</ion-content>
</ion-view>
