<ion-view view-title="Request">
  <ion-content>
    <form ng-submit="submitfeedback(feedback)">
    <!--div>Search results for "{{medicine}}"</div-->
    <span class="assertive">Medicine not available. Please enter your contact details below, and we will get back to you as soon as they are available</span>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Medicine Name:</span>
    <label>{{medicine}}</label>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email-Id: (for us to respond)</span>
    <input type="email" placeholder="Email id" ng-model="feedback.email" required>
  </label>
  <label class="item ">(OR)</label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone"</span>
    <input type="text" placeholder="+91" ng-model="feedback.phone" required>
  </label>
<div class="item">
 <button class="item button button-positive" type="submit">
  Submit
</button>
</div>
</form>
  </ion-content>
</ion-view>
