<ion-view view-title="Search Results" cache-view="false">
    <ion-content>
       <div ng-show="count" class="item positive">{{ data.message }}</div>
        <div class="item item-text-wrap">Search Results for {{data.localBrand}}</div>
        <div class="quantity list">
            <label class="item item-input">
                <span class="input-label">Quantity:</span>
                <input type="number" min="1" ng-model="data.quantity" value="1">
            </label>
        </div>
     
        <div class="item-input-inset">
            <button ng-click="addtocart()" ng-disabled="isDisabled" ng-model="isDisabled" class="item-input-wrapper button button-positive">
                +Add to Cart
            </button>
            <button class="item-input-wrapper  padding-left button button-balanced" ng-click="checkout()">Checkout</button>
        </div>

        <div  ng-show="count" class="item-input-inset">
            <a class="item-input-wrapper button button-calm" ng-href="#/app/home" href="#/app/home">Add More</a>
        </div>
    </ion-content>
</ion-view>