<ion-view view-title="Seller Details" cache-view="false">
    <ion-content>
        <div class="item item-text-wrap positive">Approx total MRP for your order is Rs.245</div>
        <div class="quantity">
            <label class="item">
                <span class="item-text-wrap">Item is available with:</span>
                <span class="input-label">Liberty Drug Corner</span>
                <i class="icon ion-star  energized"></i>            <i class="icon ion-star energized"></i>  <i class="icon ion-star energized"></i>  <i class="icon ion-star energized"></i>  <i class="icon ion-star energized"></i><br>
                <span class=" royal">52 in your area have liked this seller</span>
            </label>
        </div>
        <div class="item">
            <a href="#/app/alternatesellers" class="link">View Alternate Sellers</a>
        </div>
        <div class="item-input-inset">
            <button class="item-input-wrapper  padding-left button button-balanced" ng-click="goToOrderDetails()">Confirm</button>
        </div>
    </ion-content>
</ion-view>