<ion-view hide-back-button="true" hide-nav-bar="false" cache-view="false">
    <ion-nav-title>
       <!-- <img class="title-image" src="img/logo.png">-->
           <h1 class="title" style="right:50px;color:#0F75BC;font-weight:bold;font-size:xx-large">Pillocate</h1>
    </ion-nav-title>
    <ion-content>
        <P class="item item-text-wrap" style="text-align:center;color:#0F75BC;text-transform:uppercase;border-width:0px">Online portal to
            <br/>Find medicines near you</P>
        <div class="item-input-inset">
            <input class="item-input-wrapper button button-positive" value="Search Medicines" ng-click="goToSearchMed()" type="submit">
        </div>
        <div class="item-input-inset" style="width: 10%; margin: 0 auto;">
            OR
        </div>

        <div class="item-input-inset">
            <input class="item-input-wrapper button button-royal" ng-click="goToUploadPrescrption()" value="Upload Prescription" type="submit">
        </div>
       
 <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>        <br/>        <br/>        <br/>        <br/>
        
            </ion-content>
</ion-view>
<style type="text/css">
    #box {
/*        position: relative;*/
       top: 245px;
     /*   height: 130px;*/
        width: 100%;
/*        text-align: center;*/
        background-color: rgba(0, 0, 0, 0.1);*/
    }
</style>