<ion-view view-title="Track Order">
  <ion-content>

<div class="list">
<div class="item item-input-inset">
    <label class="item-input-wrapper">
        <span class="input-label">Tracking id</span>
      <input type="text" placeholder="Enter tracking id" ng-model="data.trackingId">
    </label>
    <button class="button button-small button-positive" type="button" ng-click="getOrderDetails()">
      Track Order
    </button>
  </div>
  <span class="item assertive">{{data.status}}</span>
  </div>
  </ion-content>
</ion-view>
