<ion-view view-title="Upload your prescription here" cache-view="false">
<ion-header-bar>
<h1 class="title" >Upload your prescription here</h1>
</ion-header-bar>
<ion-content class="padding">
<button ng-click="imgUpload(1)" class="item ion-camera button button-calm"> Use Camera</button>
<button ng-click="imgUpload(0)" class="item ion-image button button-calm"> Use Gallery</button>
<br/>
<br/>
<img id="myImage" class="item full-image"ng-src="{{source}}">
<br/>
<button ng-click="goToOrderDetails()" class="item button button-positive">Next</button>
</ion-content></ion-view>
